.sidebar {

    width: 250px;

    background: #8b0000;

    color: white;

    min-height: 100vh;

    padding: 30px 20px;

}

.logo {

    text-align: center;

    margin-bottom: 40px;

}

.sidebar ul {

    list-style: none;

}

.sidebar li {

    padding: 15px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;

    margin-bottom: 10px;

}

.sidebar li:hover {

    background: #b10000;

}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar a.active {
    font-weight: bold;
}